.container
  .row
    %ul.list-group
    - @candidates.each do |candidate|
      / %li.list-group-item.col-md-4
      / = link_to "#{candidate.first_name} #{candidate.last_name}", candidate
      .row
        = link_to "<li class ='list-group-item col-md-4'> #{candidate.first_name} #{candidate.last_name}</li>".html_safe, candidate  
      / = link_to "edit", edit_candidate_path(candidate), class: "btn btn-default btn-sm pull-right"
      / = link_to "delete", candidate_path(candidate), method: :delete, data: { confirm: 'Are you sure?' }, 
      /   class: "btn btn-default btn-sm pull-right"
    
  .row
    = link_to "Add a candidate", new_candidate_path, class: "btn btn-primary"
